body {
    font-size: 14px;
    line-height: 21px;
    font-family: PT Sans Regular;
}

h3 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-style: bold;
    color: #fff;
}

.container {
    width: 768px;
    margin: 0 auto;
}

.main-navigation {
    float: left;
    width: 768px;
}

.content {
    background-color: #eeeeee;
}

.picture-block {
    background: url(/img/background%20photo.jpg);
    height: 510px;
    width: 768px;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
}

.real-town {
    margin: 57px 0;
}

.real-town-text {
    float: left;
    width: 256px;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    height: 255px;
}

.real-town-img {
    float: right;
    width: 512px;
    height: 254px;
}

.super1 {
    font-size: 0;
    margin-bottom: 68px;
}

.having {
    display: inline-block;
    font-size: 14px;
    vertical-align: center;
    width: 33.33%;
    margin: 0 auto;
    text-align: center;
}

.having b,
.having p {
    display: block;
}

.having .about {
    max-width: 100%;
}

.hell {
    margin-bottom: 50px 0;
}

.hell-img {
    float: left;
    width: 512px;
}

.hell-text {
    float: right;
    width: 256px;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    height: 255px;
}

.super2 {
    font-size: 0;
    margin: 47px 0;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.interests {
    padding: 55px 0;
    
}

.map {
    position: relative;
    background: url(/img/map.jpg);
    height: 475px;
}

.booking {
    position: absolute;
    left: 100px;
    
    width: 567px;
}

.main-footer {
    padding: 55px 0;
}


.footer-hashtag {
    float: left;
    width: 33.33%;
}

.footer-social {
    float: left;
    width: 33.33%;
}

.footer-copyright {
    float: right;
    width: 33.33%;
}
